[submodule "src/math"]
	path = src/math
	url = https://github.com/pjhusky/linAlg.git
[submodule "src/fileLoaders"]
	path = src/fileLoaders
	url = https://github.com/pjhusky/Asset-IO.git
[submodule "src/gfxAPI"]
	path = src/gfxAPI
	url = https://github.com/pjhusky/ogl-core-glfw-utils.git
[submodule "src/arcBall"]
	path = src/arcBall
	url = https://github.com/pjhusky/arcball-3d-navigation.git
[submodule "external/tiny-process-library"]
	path = external/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
	branch = master

